<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Suggestions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='particles.min.js') }}"></script>
    <script src="{{ url_for('static', filename='particles-config.js') }}"></script>
</head>
<body>
    <div id="background"></div>
    <div class="container">
        <h1>Suggestions for Improvement</h1>
        <div class="suggestions-container">
            {% if suggestions %}
                <ul>
                    {% for suggestion in suggestions %}
                        <li>{{ suggestion.Feedback }} - Keywords: {{ suggestion.Keywords }} - Category: {{ suggestion['Additional Category'] }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No suggestions available.</p>
            {% endif %}
        </div>
        <br>
        <a href="{{ url_for('index') }}" class="button-link">Go Back</a>
        <a href="{{ url_for('department_overview') }}" class="button-link">Department Overview</a>
        <a href="{{ url_for('keyword_overview') }}" class="button-link">Keyword Overview</a>
    </div>
</body>
</html>
